h1{
	font-weight: 200;
	text-transform: uppercase;
	border-left: 5px solid white;
	border-right: 10px solid white;
	border-top: 5px solid white;
	border-bottom: 10px solid white;
	font-size: 40px;
	padding: 5px;

}
body{
	background-image: url("20.jpg");
	color: rgb(60, 60, 60);
	font-family: "Times New Roman", Times, serif;
}
img{
	height: 400px;
	border-radius: 50%;
}
#contain{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	height: 100vh;

}
button{
	margin: 30px auto 0;
	padding: 10px 10px 30px 10px;
	background-color: lightgrey;
	font-size: 14px;
	text-align: center;
	border:1px solid white;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	letter-spacing: 3px;
}
button:hover{
	transition: 0.3s;
	background-color: white;
	color: grey;
	text-decoration: underline;
}
p{
	font-size: 20px;
}